Usando la funci√≥n input, cread un programa que pregunte al usuario por el nombre de tres amig@s.

In [1]:
nombre_amigo1 = input("Nombra a un amigo")
nombre_amigo2 = input("Nombra a un amigo")
nombre_amigo3 = input("Nombra a un amigo")

In [2]:
lista_amigos = [nombre_amigo1, nombre_amigo2, nombre_amigo3]
print(lista_amigos)

['Ana', 'Laura', 'Natalia']

Almacenad los resultados del paso anterior en una lista. üí°üí°Pista Tendr√©is que usar m√©todos de los strings que aprendimos en la lecci√≥n anterior.

Usando la funci√≥n input, cread un programa que ahora le pregunte al usuario por las alturas de sus amig@s. Y almacenar los resultados en una lista.

In [3]:
altura_ana = input("Dime la altura de Ana")
altura_laura = input("Dime la altura de Laura")
altura_natalia = input("Dime la altura de Natalia")
lista_alturas = [altura_ana, altura_laura, altura_natalia]
print(lista_alturas)

['1.70', '1.90', '1.80']

Nos interesa que las alturas est√©n en tipo float para eso, ejecutad el siguiente c√≥digo. No es necesario que lo entend√°is, es un concepto m√°s avanzado que aprenderemos en las siguientes lecciones.

In [4]:
lista_alturas = [float(i) for i in lista_alturas]

Ordenad las dos listas de mayor a menor. ¬øLo podr√©is hacer para la lista de nombres?

In [5]:
lista_amigos.sort(reverse=True)
lista_alturas.sort(reverse=True)
print(lista_alturas)
print(lista_amigos)

[1.9, 1.8, 1.7]
['Natalia', 'Laura', 'Ana']

¬øCu√°l es la altura m√°xima de todos nuestros amig@os?

In [6]:
max(lista_alturas)

1.9

Y la m√≠nima?

In [7]:
min(lista_alturas)

1.7

Dadas las siguientes listas:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]

Unid las dos listas de forma que consigamos el siguiente output. Almacenad los resultados en una nueva variable y llamadla lista_lista.

In [22]:

lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]

Unid las dos listas de forma que consigamos el siguiente output. Almacenad los resultados en una nueva variable y llamadla lista_numeros.

In [23]:
lista_lista = lista1, lista2
print(lista_lista)
lista_numeros = lista1 + lista2
print(lista_numeros)

([44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56])
[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

De la lista lista_lista, ¬øcu√°ntas veces aparece el n√∫mero 67? ¬øy en la lista lista_numeros.
Justificad por qu√© salen n√∫meros diferentes

In [24]:
print(lista_lista.count(67))
print(lista_numeros.count(67))

0
2

Si utilizamos el m√©todo .count() en una lista, busca el contenido en la lista. Pero si lo utilizamos en una lista de listas, s√≥lo busca el contenido en los nombres de las listas.

Usando la lista_numeros, dadle la vuelta a la lista.

In [25]:
lista_numeros.reverse()
print(lista_numeros)

[56, 67, 78, 56, 56, 34, 29, 98, 44, 67, 55, 44]